*{
    padding: 0;
    margin: 0;
    font-family: '微软雅黑';
}
ul,li,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.clear:after{
	content: "";
	height: 0;
	display: block;
	clear: both;
}
/*header开始*/
.head1{
	height: 450px;
	width: 100%;
	background-color: #e1e1e1;
}
.head2{
	height: 450px;
	width: 1428px;
	background: url(../images/u1.png) no-repeat center center;
	margin: 0 auto;
	position: relative;
}
.head3{
	height: 58px;
	background-color: black;
	width: 590px;
	position: absolute;
	bottom: 70px;
	left: 420px;
	opacity: 0.5;
}
.head6{
	height: 49px;
	background-color: white;
	width: 584px;
	position: absolute;
	bottom: 74px;
	left: 423px;
	font-size: 18px;
	border-radius: 5px;
}
.head4{
	height: 49px;
    width: 128px;
    border: 0;
    background: url(../images/u40.png) no-repeat center center;
    float: right;
}
.head5{
	height: 49px;
	width: 146px;
	background-color: #f2f3f7;
	border-radius: 5px;
	float: left;
}
.head5 p{
	margin-right: 10px;
	float: right;
	background: url(../images/u39.png) no-repeat left center;
	padding: 0 30px;
	margin-top: 12px;
}
.head7{
	height: 49px;
	color: #9d9d9d;
	width: 310px;
	background-color: white;
	float: left;
}
.head7 li{
	margin-left: 18px;
	margin-top: 15px;
	float: left;
}
.head7 li:first-child{
	margin-left: 12px;
	background: url(../images/u41.png) no-repeat left center;
	padding: 0 15px;
}
.header1{
	height: 47px;
	width: 100%;
	background-color: #1c5080;
}
.header2{
	height: 47px;
	width: 100%;
	margin: 0 auto;
}
.header2 p{
	font-size: 20px;
	text-align: center;
	color: white;
	padding-top: 10px
}
.header3{
	height: 56px;
	width: 100%;
	background-color: white;
}
.header3 div{
	height: 56px;
	width: 1428px;
	background: url(../images/u8.png) no-repeat center center;
	margin: 0 auto;
}
.begin1{
	height: 718px;
	width: 100%;
	background-color: white;
}
.begin2{
	width: 1200px;
	height: 718px;
	margin: 0 auto;
}
.begin3{
	height: 312px;
	width: 1200px;
	color: white;
	background: url(../images/u11.png) no-repeat center center;
	position: relative;
}
.begin3 p{
	text-align: center;
	font-size: 36px;
	padding-top: 48px;
}
.logo1{
	height: 30px;
	top: 148px;
	left: 370px;
	position: absolute;
	font-size: 18px;
	background: url(../images/u42.png) no-repeat left center;
	padding-left: 40px;
}
.logo2{
	background: url(../images/u43.png) no-repeat left center;
	top: 148px;
	left: 610px;
	position: absolute;
	padding-left: 40px;
	height: 30px;
}
.logo3{
	background: url(../images/u10.png) no-repeat left center;
	top: 217px;
	left: 405px;
	position: absolute;
	padding-left: 40px;
	height: 30px;
}
.logo4{
	position: absolute;
	top: 0px;
	left: 100px;
	position: relative;
}
.logo4 div{
	position: absolute;
	top: 15px;
	left: 15px;
}
.logo5{
	position: absolute;
	top: 80px;
	left: 300px;
	opacity: 0.6;
}
.logo6{
	position: absolute;
	top: 80px;
	right: 300px;
	opacity: 0.6;
}
.logo7{
	height: 50px;
	width: 177px;
	border: 1px solid white;
	border-radius: 9px;
	position: absolute;
	right: 60px;
	top: 125px;
}
.logo7 div{
	color: white;
	font-size: 26px;
	margin-top: 7px;
	text-align: center;
}
.begin3 h3{
	position: absolute;
	top: 200px;
	left: 110px;
	font-size: 26px;
}
.begin4{
	height: 364px;
	width: 1200px;
	color: white;
	background-color: #1c5080;
	margin-top: 25px;
	border-radius: 5px;
	position: relative;
}
.begin5{
	position: absolute;
	top: 50px;
	right: 90px;
}
.begin6{
	position: absolute;
	top: 80px;
	right: 105px;
}
.begin4 h3{
	position: absolute;
	top: 155px;
	right: 80px;
	font-size: 26px;
}
.begin7{
	height: 50px;
	width: 177px;
	border: 1px solid white;
	border-radius: 9px;
	position: absolute;
	right: 40px;
	bottom: 70px;
}
.begin7 div{
	color: white;
	font-size: 26px;
	margin-top: 7px;
	text-align: center;
}
.route{
	width: 100%;
	height: 247px;
	background-color: white;
}
.route1{
	width: 1200px;
	height: 247px;
	background: url(../images/u15.png) no-repeat center center;
	margin: 0 auto;
	position: relative;
}
.route2{
	position: absolute;
	top: 73px;
	left: 468px;
}
.route2 li{
	color: black;
	float: left;
	padding: 0 15px;
	font-size: 36px;
}
.route3{
	background: url(../images/u8.jpg) no-repeat left center;
}
.route1 p{
	font-size: 18px;
	position: absolute;
	top: 125px;
	left: 508px;
}
.routep1{
	width: 100%;
	height: 1020px;
	background-color: white;
}
.routep4{
	width: 1200px;
	height: 1020px;
	margin: 0 auto;
	position: relative;
}
.routepa{
	position: absolute;
	width: 15px;
	height: 26px;
	top: 450px;
	left: -50px;
}
.routepb{
	position: absolute;
	width: 15px;
	height: 26px;
	top: 450px;
	right: -45px;
}
.routep2{
	height: 100px;
	background-color: black;
	width: 588px;
	margin-bottom: 4px;
}
.routep1 p{
	margin-left: 33px;
	font-size: 20px;
	color: white;
	line-height: 45px;
}
.routep3{
	height: 89px;
	background-color: black;
	width: 588px;
}
.routep3 p{
	margin-left: 33px;
	font-size: 20px;
	color: white;
	line-height: 40px;
}
.routep5{
	width: 588px;
	height: 1020px;
	margin: 0 auto;
	float: left;
	margin-left: 4px;
}
.routep6{
	height: 437px;
}
.routea{
	height: 291px;
	background: url(../images/u14.png) no-repeat center center;
	position: relative;
	margin-bottom: 4px
}
.routeb{
	height: 355px;
	background: url(../images/u13.png) no-repeat center center;
	position: relative;
	margin-bottom: 4px
}
.routec{
	height: 365px;
	background: url(../images/u12.png) no-repeat center center;
	position: relative;
}
.routep7{
	height: 87px;
	width: 590px;
	opacity: 0.6;
	background-color: black;
	position: absolute;
	bottom: 0px;
}
.routep7 p{
	margin-left: 33px;
	font-size: 20px;
	color: white;
	line-height: 40px;
}
.routep8{
	font-size: 30px;
}
.tour{
	height: 430px;
	width: 100%;
}
.tour1{
	height: 430px;
	background: url(../images/u29.png) no-repeat center center;
	width: 1428px;
	margin: 0 auto;
	position: relative;
}
.tour2{
	position: absolute;
	top: 82px;
	left: 550px;
}
.tour2 li{
	color: black;
	float: left;
	padding: 0 15px;
	font-size: 36px;
}
.tour3{
	background: url(../images/u8.jpg) no-repeat left center;
}
.tour1 p{
	font-size: 18px;
	position: absolute;
	top: 140px;
	left: 630px;
}
.tour4{
	width: 1100px;
	height: 165px;
	position: absolute;
	top: 280px;
	left: 200px;
}
.tour4 li{
	height: 40px;
	float: left;
	margin-left: 85px;
	margin-bottom: 45px;
	padding: 0 45px;
}
.toura{
	background: url(../images/u9.jpg) no-repeat left center;
}
.tourb{
	background: url(../images/u10.jpg) no-repeat left center;
}
.tourc{
	background: url(../images/u11.jpg) no-repeat left center;
}
.tourd{
	background: url(../images/u12.jpg) no-repeat left center;
}
.toure{
	background: url(../images/u13.jpg) no-repeat left center;
}
.tourf{
	background: url(../images/u14.jpg) no-repeat left center;
}
.tourg{
	background: url(../images/u15.jpg) no-repeat left center;
}
.tourh{
	background: url(../images/u16.jpg) no-repeat left center;
}
.tourp1{
	height: 825px;
	width: 100%;
}
.tourp2{
	height: 825px;
	width: 1200px;
	margin: 0 auto;
	background: url(../images/u21.png) no-repeat center center;
	position: relative;
}
.tourp2a{
	height: 19px;
	width: 11px;
	position: absolute;
	bottom: 65px;
	left: 500px;
}
.tourp2b{
	height: 19px;
	width: 11px;
	position: absolute;
	bottom: 65px;
	right: 510px;
}
.tourp3{
	float: left;
	position: relative;
	height: 448px;
	width: 263px;
}
.tourpa{
	height: 80px;
	width: 263px;
	opacity: 0.6;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: black;
}
.tourpb{
	height: 80px;
	width: 663px;
	opacity: 0.6;
	position: absolute;
	bottom: 4px;
	left: 4px;
	background-color: black;
}
.tourpa p{
	color: white;
	font-size: 20px;
	text-align: center;
	opacity: 1;
	margin-top: 22px
}
.tourpb p{
	color: white;
	font-size: 20px;
	text-align: center;
	opacity: 1;
	margin-top: 22px
}
.tourp4{
	float: right;
	position: relative;
}
.tourp5{
	position: absolute;
	top: 280px;
	left: 264px;
}
.good{
	height: 202px;
	width: 100%;
}
.good1{
	height: 202px;
	width: 1428px;
	background: url(../images/u30.png) no-repeat center center;
	margin: 0 auto;
	position: relative;
}
.good2{
	position: absolute;
	top: -10px;
	left: 585px;
}
.good2 li{
	color: black;
	float: left;
	padding: 0 15px;
	font-size: 36px;
}
.good3{
	background: url(../images/u8.jpg) no-repeat left center;
}
.good4{
	font-size: 18px;
	position: absolute;
	top: 45px;
	left: 620px;
}
.good5{
	font-size: 20px;
	position: absolute;
	top: 130px;
	left: 490px;
}
.goodp{
	height: 750px;
	width: 100%;
}
.goodp1{
	height: 750px;
	width: 1202px;
	margin: 0 auto;
	position: relative;
}
.goodp2{
	height: 555px;
	width: 397px;
	float: left;
	position: relative;
}
.goodp3{
	width: 805px;
	height: 560px;
	float: left;
}
.goodp3 li{
	float: left;
	margin-left: 4px;
	position: relative;
}
.goodpa{
	height: 70px;
	width: 398px;
	opacity: 0.6;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: black;
}
.goodpa p{
	color: white;
	font-size: 20px;
	opacity: 1;
	margin-top: 10px;
	text-align: center;
}
.goodpa1{
	font-size: 30px;
}
.goodpa2{
	padding-left: 20px
}
.goodpb{
	height: 50px;
	width: 398px;
	opacity: 0.6;
	position: absolute;
	bottom: 4px;
	left: 0px;
	background-color: black;
}
.goodpb1{
	color: white;
	font-size: 20px;
	opacity: 1;
	margin-top: 2px;
	text-align: center;
}
.goodp4{
	height: 50px;
	width: 230px;
	border: 1px solid black;
	border-radius: 9px;
	position: absolute;
	bottom: 95px;
	left: 500px;
}
.goodp4 p{
	width: 190px;
	font-size: 26px;
	margin-top: 7px;
	text-align: center;
	background: url(../images/u48.png) no-repeat right center;
	padding-right: 0px;
}
.picture{
	height: 345px;
	width: 100%;
}
.picture1{
	background: url(../images/u32.png) no-repeat center center;
	height: 345px;
	width: 1428px;
	margin: 0 auto;
}
.last{
	height: 1582px;
	width: 100%;
}
.last1{
	height: 1582px;
	width: 1428px;
	background: url(../images/u38.png) no-repeat center center;
	margin: 0 auto;
}
.last2{
	height: 1582px;
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.last2 h1{
	font-size: 36px;
	color: black;
	text-align: center;
	padding-top: 150px;
}
.last2 h2{
	font-size: 16px;
	color: black;
	text-align: center;
	padding-top: 27px;
	padding-bottom: 60px;
}
.last3{
	height: 400px;
	width: 1200px;
	background-color: #1c5080;
}
.last3 ul>li{
	height: 300px;
	width: 300px;
	float: left;
	margin-top: 45px;
}
.last3 ul>li:first-child{
	margin-left: 150px;
}
.last3 ul li p{
	text-align: center;
	font-size: 16px;
	color:white;
	line-height: 35px;
}
.last3 ul li img{
	margin-left: 55px;
}
.last4{
	width: 705px;
	height: 400px;
	position: absolute;
	top: 254px;
	right: 0px;
	background: url(../images/u47.png) no-repeat center center;
}
.last4 h4{
	color: white;
	font-size: 26px;
	margin-top: 140px;
	text-align: center;
}
.last4 div{
	height: 130px;
	width: 530px;
	margin-left: 90px;
}
.last4 div p{
	color: white;
	font-size: 16px;
	margin-top: 40px;
	line-height: 35px;
}
.float{
	height: 390px;
	width: 47px;
	position: fixed;
	right: 0px;
	top: 50px;
	background-color: white;
}
.float ul li{
	width: 47px;
	height: 47px;
	margin-bottom: 1px;
}
.float>div{
	width: 47px;
	height: 150px;
	background-color: #e8420a;
}
.float div p{
	font-size: 20px;
	text-align: center;
	color: white;
	margin-left: 5px;
	margin-right: 5px;
}
.float div p:first-child{
	background: url(../images/u49.png) no-repeat top center;
	padding-top: 23px;
}
.float2{
	position: relative;
}
.float1{
	position: absolute;
	top: 0px;
	left: -113px;
	display: none;
	height: 134px;
}
.float2:hover .float1{
	display: block;
}
.box{
	width:100%;
	height:3000px;
}
.long{
	width:100%;
	height:40px;
	background-color:#333333;
}
.one{
	width:1200px;
	height:40px;
	margin:0 auto;
}
.two{
	width:1200px;
	height:60px;
	margin:0 auto;
}
.o{
	display:inline-block;
	margin-left:20px;
	float:left;
	font-size:20px;
}
.o:hover{
	color:#e8420a;
	text-decoration:underline;
}
.mu{
	position:relative;
	display:inline-block;
	margin-left:20px;
	float:left;
	font-size:20px;
}
.mu:hover{
	color:#e8420a;
	text-decoration:underline;
}
.hide{
	width:70px;
	height:40px;
	font-size:20px;
	position:absolute;
	display:none;
	background-color:#ffffff;
}
.hide li{
	line-height:20px;
	float:left;
}
.hide li:hover{
	color:#e8420a;
	text-decoration:underline;
}
.mu:hover .hide{
	display:block;

}
.ten{
	width:100%;
	height:220px;
	background-color:#333333;
	border-bottom:1px solid #404040;
}
.first{
	width:1200px;
	height:220px;
	margin:0 auto;
}
.a{
	width:700px;
	height:170px;
	float:left;
	padding-top:50px;
}
.red{
	width:110px;
	height:250px;
	float:left;
	margin-right:17px;
}
.red li:first-child{
	font:18px "微软雅黑";
	color:#ffffff;
	float:left;
}
.red li{
	font:14px "微软雅黑";
	color:#868686;
	float:left;
	margin-top:15px;
}
.gray{
	width:80px;
	height:250px;
	float:left;
	margin-right:17px;
	text-align:center;
	position:relative;
}
.gray li{
	font:14px "微软雅黑";
	color:#868686;
	float:left;
	margin-top:15px;
}
.hi{
	position:absolute;
	display:none;
	left:70px;
	top:50px;
}
.gray:hover .hi{
	display:block;
}
.b{
	width:400px;
	height:77px;
	float:right;
	padding-top:70px;
}
.cry{
	width:70px;
	height:77px;
	float:left;
	color:#ffffff;
}
.sad{
	width:120px;
	height:77px;
	float:left;
	margin-right:20px;
}
.sad li:first-child{
	font:18px "微软雅黑";
	float:left;
	color:#ffffff;
}
.sad li{
	font-size:14px;
	float:left;
	margin-top:5px;
	color:#868686;
}
.laugh{
	width:180px;
	height:77px;
	font:18px "微软雅黑";
	float:left;
	color:#ffffff;
}
.laugh li{
	float:left;
}
.laugh li:last-child{
	margin-top:10px;
}
.c{
	width:440px;
	height:40px;
	text-align:center;
	font:14px "微软雅黑";
	color:#868686;
	float:right;
}
.c p{
	margin-top:6px;
}
.eleven{
	width:100%;
	height:220px;
	background-color:#333333;
	border-bottom:1px solid #404040;
}
.second{
	width:1200px;
	height:65px;
	margin:0 auto;
}
.cooperationq{
	width:80px;
	height:65px;
	font:18px "微软雅黑";
	float:left;
	text-align:center;
	color:#868686;
}
.cooperation{
	width:150px;
	height:65px;
	font:14px "微软雅黑";
	float:left;
	text-align: center;
	color:#868686;
}
.zi{
	float:left;
	text-align:center;
	width:150px;
	height:20px;
}
.third{
	width:1200px;
	height:155px;
	margin:0 auto;
}
.able{
	width:1200px;
	height:50px;
}
.able li:first-child{
	font:18px "微软雅黑";
	color:#868686;
	float:left;
}
.able li{
	font:14px "微软雅黑";
	color:#868686;
	float:left;
	margin-left:15px;
}
.twelve{
	width:100%;
	height:60px;
	background-color:#333333;
	border-bottom:1px solid #404040;
}
.both{
	width:1200px;
	height:60px;
	font:14px "微软雅黑";
	color:#868686;
	text-align:center;
	margin:0 auto;
}
.final{
	margin-top:15px;
}